/* Weather.css */
/* .weather-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.weather-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.weather-list {
    list-style-type: none;
    padding: 0;
}

.weather-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.weather-list p {
    margin: 5px 0;
    font-size: 16px;
} */

.container {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
}

.weather-box {
  text-align: center;
  list-style-type: none;
}

.weather-heading {
  text-align: center;
  margin-bottom: 0;
}

.weather-icon {
  width: 60%;
}

.main {
  margin-top: 0;
  color: #06283d;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.date {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.temperature {
  position: relative;
  color: #06283d;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.description {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Adjusted to space between */
  margin: 0;
}

.weather-details p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
}

.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

.wind-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wind-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.wind-description {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-Icon {
  width: 25px;
  height: 25px;
}

.extraClass {
  top: 165px !important;
  font-size: 20px !important;
  pointer-events: auto !important;
  width: auto !important;
  height: auto !important;
  position: sticky !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .container {
    margin: auto;
    width: 250px;
  }
}
