.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #72a6ab;
  border-radius: 185px;
  width: 300px;
  height: 300px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  background-color: #81afb3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container h3 {
  width: 300px;
  text-align: center;
}
